---
---

@import "article";
@import "event";

html {
  background-color: #2196F3;
}

body {
  background-color: white;
  font-size: 16px;
}

.text-center {
  text-align: center;
}

// Legacy
.small {
  font-size: 0.9rem;
}

.text-info {
  color: #31708F;
}

.page-heading {
  font-size: 2em;
  color: teal;
}

nav {
  margin-bottom: 30px;
}

nav .brand-logo {
  height: 100%;

  img {
    height: 100%;
    width: auto;
  }
}

#main {
  margin-top: 15px;
  margin-bottom: 30px;
  min-height: 300px;
}

.post-item h2 {
  font-size: 1.3rem;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
  line-height: 1.3;
}

.post-item p {
  margin-top: 0.5em;
}
