<dl class="event">
  <dt>活动时间</dt>
  <dd>
    <p>{{ include.time }}</p>
  </dd>
  <dt>活动地点</dt>
  <dd>
    <p>{{ include.address }}</p>
    <figure>
      <a href="{{ include.map_url }}"
         target="_blank"
         style="margin-bottom: 5px;">
        <img class="responsive-img" src="{{ include.map_pic }}" alt="地图">
      </a>
      <figcaption>
        本次活动的场地由
        <a href="{{ include.provider_url }}" target="_blank">
          {{ include.provider_name }}
        </a>
        提供
      </figcaption>
    </figure>
  </dd>
</dl>

