<footer class="page-footer blue">
  <div class="container">
    <div class="row">
      <div class="col s4">
        <h5 class="white-text">GDG Xi'an</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://plus.google.com/114935565019424673192/">GDG Xi'an on G+</a></li>
          <li><a class="grey-text text-lighten-3" href="https://developers.google.com/groups/chapter/114935565019424673192/">GDG Xi'an on Google Devlopers</a></li>
          <li><a class="grey-text text-lighten-3" href="https://groups.google.com/forum/#!forum/xian-gdg">GDG Xi'an on Google Groups</a></li>
          <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/pages/GDG-Xian/">GDG Xi'an on Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="https://github.com/GDG-Xian/">GDG Xi'an on Github</a></li>
          <li><a class="grey-text text-lighten-3" href="http://weibo.com/xagdg">GDG Xi'an on Weibo</a></li>
          <li><a class="grey-text text-lighten-3" href="https://play.google.com/store/apps/developer?id=GDG+Xian">GDG Xi'an on Goolge Play</a></li>
      </ul>
    </div>
    <div class="col s4">
      <h5 class="white-text">GDG Resources</h5>
      <ul>
        <li><a href="https://developers.google.com/events/devfest/" class="grey-text text-lighten-3">GDG DevFest</a></li>
        <li><a href="http://developers.google.com/" class="grey-text text-lighten-3">Google Developers Group</a></li>
      </ul>
    </div>
    <div class="col s4">
      <h5 class="white-text">Community Resources</h5>
      <ul>
        <li><a href="https://developers.google.com/products/" class="grey-text text-lighten-3">Google Developer Product API</a></li>
      </ul>
    </div>
  </div>
</footer>
