<footer class="page-footer blue">
  <div class="container">
    <div class="row">
      <div class="col m4">
        <h5 class="white-text">GDG Xi'an</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://www.meetup.com/GDG-Xian">GDG Xi'an on MeetUP</a></li>
          <li><a class="grey-text text-lighten-3" href="https://groups.google.com/forum/#!forum/xian-gdg">GDG Xi'an on Google Groups</a></li>
          <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/gdg.xian/">GDG Xi'an on Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="https://github.com/GDG-Xian/">GDG Xi'an on Github</a></li>
          <li><a class="grey-text text-lighten-3" href="https://weibo.com/xagdg">GDG Xi'an on Weibo</a></li>
          <li><a class="grey-text text-lighten-3" href="https://www.youtube.com/channel/UC6NPMZHiCk8gropjMe_YpWQ">GDG Xi'an on Youtube</a></li>
          <li><a class="grey-text text-lighten-3" href="https://space.bilibili.com/407583712">GDG Xi'an on Bilibili</a></li>
      </ul>
    </div>
    <div class="col m4">
      <h5 class="white-text">GDG Resources</h5>
      <ul>
        <li><a href="https://developers.google.com/events/devfest/" class="grey-text text-lighten-3">GDG DevFest</a></li>
        <li><a href="http://developers.google.com/" class="grey-text text-lighten-3">Google Developers Group</a></li>
      </ul>
    </div>
    <div class="col m4">
      <h5 class="white-text">Community Resources</h5>
      <ul>
        <li><a href="https://developers.google.com/products/" class="grey-text text-lighten-3">Google Developer Product API</a></li>
      </ul>
    </div>
  </div>
</footer>
