<div class="col s12 center-align">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}"
       class="btn-floating waves-effect waves-light light-blue lighten-2">
      <i class="material-icons">chevron_left</i>
    </a>
  {% endif %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}"
       class="btn-floating waves-effect waves-light light-blue lighten-2">
      <i class="material-icons">chevron_right</i>
    </a>
  {% endif %}
</ul>
</div>