.article {
  margin-bottom: 40px;
  font-size: 16px;

  .article-content {
    p {
      word-break: break-all;
    }

    h2 {
      font-weight: 600;
      font-size: 1.3rem;
      border-bottom: 1px solid #eee;
      padding-bottom: 5px;
      margin-top: 20px;
      margin-bottom: 15px;
      border-bottom: 1px solid #ccc;
    }

    h3 {
      font-size: 1.2rem;
      font-weight: 600;
      margin: 10px 0 10px 0;
    }

    h4 {
      font-size: 1.1rem;
      font-weight: 600;
      margin: 10px 0 10px 0;
    }

    img {
      max-width: 100%;
    }
  }
}

.article > header {
  margin-bottom: 15px;
}

.article-title {
  font-size: 2rem;
  padding-bottom: 10px;
  margin-bottom: 0;
  margin-top: 0;
  border-bottom: 1px solid #eeeeee;
}

.article-meta {
  color: #31708f;
  font-size: 0.9rem;
  border-bottom: 1px solid #eeeeee;
  padding-top: 5px;
  padding-bottom: 5px;
}

