.event {
  dt {
    font-weight: 700;
    color: #31708f;
  }

  dd {
    margin-left: 0;

    figure {
      margin: 0;

      figcaption {
        text-align: left;
        font-size: 0.9rem;
        color: #31708f;
      }
    }
  }
}

