<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">相关链接</div>
  </div>
  <ul class="list-group">
    <a href="https://developers.google.com/groups/chapter/114935565019424673192/" class="list-group-item">GDG专页</a>
    <a href="https://plus.google.com/114935565019424673192/" class="list-group-item">Google+</a>
    <a href="https://github.com/GDG-Xian/" class="list-group-item">Github</a>
    <a href="https://groups.google.com/forum/#!forum/xian-gdg" class="list-group-item">讨论组</a>
    <a href="http://weibo.com/xagdg" class="list-group-item">新浪微博</a>
  </ul>
</div>