<div class="panel panel-default widget">
  <div class="panel-heading">微信社区</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class="thumbnail">
          <img src="https://placehold.it/128x128" />
          <div class="caption">gdgxian 公众号</div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="thumbnail">
          <img src="https://placehold.it/128x128" />
          <div class="caption">gdgxian 公众号</div>
        </div>
      </div>
    </div>
  </div>
</div>