<div class="panel panel-default widget widget-wechat">
  <div class="panel-heading">微信</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class="thumbnail">
          <img src="http://gdgxian.b0.upaiyun.com/gdgxian/gdgxian-wechat-account.png" width="128" height="128" />
        </div>
        
        <div class="text-center">
          <span class="label label-default">公众号</span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="thumbnail">
          <img src="http://gdgxian.b0.upaiyun.com/gdgxian/gdgxian-wechat-group.png" width="128" height="128" />
        </div>

        <div class="text-center">
          <span class="label label-default">微信群</span>
        </div>
      </div>
    </div>
  </div>
</div>