<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>

	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="author" content="{{ site.author.name }}">

	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<link href="http://feeds.feedburner.com/{{ site.author.feedbaname }}" rel="alternate" title="{{ page.title }}" type="application/atom+xml">

  <link href="//fonts.loli.net/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="//cdnjs.loli.net/ajax/libs/materialize/0.97.8/css/materialize.min.css" />
	<link rel="stylesheet" href="/css/application.css" />
	{% include analytics.html %}
</head>
<body>
	{% include header.html %}

	<div class="container">
		<div class="card blue lighten-4" style="margin-bottom: 2em;">
			<div class="card-content">
				<p>GDG 西安社区欢迎热衷技术的各位来我们的活动展示自己，分享知识和经验，我们对话题的要求是：涉及的技术或者工具需要时开源或者开放的。</p>
				<ul>
					<li>- 与 Google 开发技术相关的话题，我们会优先安排</li>
					<li>- GDG 西安的活动一般安排在周六下午 1:30 - 5:00 之间</li>
					<li>- 疫情期间，以线上活动为主（Bilibili 直播）</li>
				</ul>
			</div>
			<div class="card-action">
				<a href="https://jinshuju.net/f/EDndFr" class="blue-text darken-4" style="font-size: 1.5em;">我要报名</a>
			</div>
		</div>
	</div>

	<div id="main" class="container">
		{{ content }}
	</div>

	{% include footer.html %}

	<script src="//cdnjs.loli.net/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="//cdnjs.loli.net/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
	<script src="/js/application.js"></script>

</body>
</html>
