<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="author" content="{{ site.author.name }}">

	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<link href="http://feeds.feedburner.com/{{ site.author.feedbaname }}" rel="alternate" title="{{ page.title }}" type="application/atom+xml">

  <link href="//fonts.proxy.ustclug.org/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css" />
	<link rel="stylesheet" href="/css/application.css" />
</head>
<body>
	{% include header.html %}

	<div id="main" class="container">
		{{ content }}
	</div>

	{% include footer.html %}

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
	<script src="/js/application.js"></script>
</body>
</html>
